@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcom to Intus Windows!</h1>

<h3>This is Md. Jahangir (Senior Software Engineer at City Group)</h3>

<h4>This is Code First Approach</h4>
<h5>Please, Go to Package Manager Console and select Libraries/IntusWindowDataMode<br />
    and write <strong>"add-migration initial"</strong><br />
    and then write <strong>"update-database"</strong>
</h5>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
